{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Create a table --}}
<table id="Categories-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        
        {{#each data}}
        <tr>
            <td>{{this.categoryID}}</td>
            <td>{{this.name}}</td>        

        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}
{{!-- Form to add a record to the table  --}}
<h2>Add categories!</h2>
<p>To add a new category, please enter their information below and click 'Submit'!</p>
<form id="add-category">
    
    <label for="categoryName">Category Name:</label>
    <input type="text" name="name" id="categoryName">
    
    <input type="submit">
</form>

<h2>Edit categories!</h2>
<p>To edit a category, please enter their information below and click 'Submit'!</p>
<form id="edit-category">

    <select name="Category-ID-edit" id="Category-ID-edit">
        <option value="">Select a Category</option>
        {{#each data}}
        <option value="{{this.categoryID}}">{{this.categoryID}}</option>
        {{/each}}
    </select>
    
    <label for="categoryName">Category Name:</label>
    <input type="text" name="name" id="categoryName">
    
    <input type="submit">
</form>
<h2>Delete Categories</h2>
<p>To Delete a category, please select its information below and click 'Delete'!</p>
<form id="delete-Category">

    <select name="recipe-ID-deleter" id="recipe-IDs-delete">
        <option value="">Select a Category</option>
        {{#each data}}
        <option value="{{this.categoryID}}">{{this.categoryID}}</option>
        {{/each}}
    </select>

    <td><button class="delete-btn" data-id="delete-review-button">Delete</button></td>  

</form>