{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}        
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        
        {{#each data}}
        <tr>
            <td>{{this.recipeID}}</td>
            <td>{{this.name}}</td>
            {{if this.description}}
                <td>{{this.description}}</td>
            {{else}}
                <td>NULL</td>
            {{/if}}
            <td>{{this.userID}}</td>
            <td>{{this.datePosted}}</td>
            <td>{{this.instructionList}}</td>
            <td>{{this.cookTime}}</td>
            <td>{{this.servingSize}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}
{{!-- Form to add a record to the table  --}}
<h2>Add Recipe</h2>
<p>To add a new recipe, please enter their information below and click 'Submit'!</p>
<p>Inputs with a * next to them are nullable and not required</p>
<form id="add-recipe">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="description">*Description:</label>
    <textarea name="description" id="description"></textarea>

    <select name="add-User-Recipes" id="add-Users-Recipes">
        <option value="">Select a User</option>
        {{#each Users}}
        <option value="{{this.userID}}">{{this.UserName}}</option>
        {{/each}}
    </select>

    <label for="datePosted">Date Posted:</label>
    <input type="date" name="datePosted" id="datePosted">

    <label for="instructionList">Instruction List:</label>
    <textarea name="instructionList" id="instructionList"></textarea>

    <label for="cookTime">Cook Time:</label>
    <input type="time" name="cookTime" id="cookTime">

    <label for="servingSize">Serving Size:</label>
    <input type="number" name="servingSize" id="servingSize">

    <input type="submit">
</form>

<h2>Edit Recipe</h2>
<p>To edit a recipe, please enter the information below and click 'Submit'!</p>
<form id="add-recipe">

    <select name="edit-RecipeID-Recipes" id="edit-RecipeIDs-Recipes">
        <option value="">Select a Recipe</option>
        {{#each data}}
        <option value="{{this.recipeID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name">

    <label for="description">*Description:</label>
    <textarea name="description" id="description"></textarea>

    <select name="edit-User-Recipes" id="edit-Users-Recipes">
        <option value="">Select a User</option>
        {{#each Users}}
        <option value="{{this.userID}}">{{this.UserName}}</option>
        {{/each}}
    </select>

    <label for="datePosted">Date Posted:</label>
    <input type="date" name="datePosted" id="datePosted">

    <label for="instructionList">Instruction List:</label>
    <textarea name="instructionList" id="instructionList"></textarea>

    <label for="cookTime">Cook Time:</label>
    <input type="time" name="cookTime" id="cookTime">

    <label for="servingSize">Serving Size:</label>
    <input type="number" name="servingSize" id="servingSize">

    <input type="submit">
</form>

<h2>Delete Review</h2>
<p>To Delete a Recipe, please select its information below and click 'Delete'!</p>
<form id="delete-recipe">

    <select name="recipe-ID-deleter" id="recipe-IDs-delete">
        <option value="">Select a Recipe</option>
        {{#each data}}
        <option value="{{this.recipeID}}">{{this.recipeID}}</option>
        {{/each}}
    </select>

    <td><button class="delete-btn" data-id="delete-recipe-button">Delete</button></td>  

</form>