{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Data: recipeID, na,e, description, userID, datePosted, instructionList, cookTime, servingSize --}}

<div class="container-fluid">

<br>

<h1>Recipes Page</h1>

<br>

<div>
<table id="recipes-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}        
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.[Recipe ID]}}>
            <td>{{this.[Recipe ID]}}</td>
            <td>{{this.[Recipe]}}</td>
            {{#if this.[Description]}}
                <td>{{this.[Description]}}</td>
            {{else}}
                <td>NULL</td>
            {{/if}}
            <td>{{this.[Author]}}</td>
            <td>{{this.[Date Posted]}}</td>
            <td>{{this.[Instruction List]}}</td>
            <td>{{this.[Cook Time]}}</td>
            <td>{{this.[Serving Size]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<br>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}

<div>
<h2>Add Recipe</h2>
<p>To add a new recipe, please enter the information below and click 'Add'!</p>
<p>Inputs with a * next to them are nullable and not required</p>

<form id="post-recipe-form-ajax" class="row g-3">
    <div class="col-auto">
        <label for="post-recipe-name" class="visually-hidden">Name</label>
        <input type="text" id="post-recipe-name" class="form-control" placeholder="Name">
    </div>
    <div class="col-auto">
        <label for="post-recipe-description" class="visually-hidden">*Description</label>
        <textarea id="post-recipe-description" class="form-control" placeholder="*Description"></textarea>
    </div>
    <div class="col-auto">
        <label for="post-recipe-user" class="visually-hidden">Author</label>
        <select id="post-recipe-user" class="form-select">
            <option value="">Select an Author</option>
            {{#each users}}
            <option value="{{this.userID}}">{{this.[Author]}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-auto">
        <label for="post-recipe-datePosted" class="form-label">Date Posted</label>
        <input type="date" id="post-recipe-datePosted">
    </div>
    <div class="col-auto">
        <label for="post-recipe-instructionList" class="visually-hidden">Instruction List</label>
        <textarea id="post-recipe-instructionList" class="form-control" placeholder="Instruction List"></textarea>
    </div>
    <div class="col-auto">
        <label for="post-recipe-cookTime" class="form-label">Cook Time</label>
        <input type="time" id="post-recipe-cookTime" class="form-control">
    </div>
    <div class="col-auto">
        <label for="post-recipe-servingSize" class="form-label">Serving Size</label>
        <input type="number" id="post-recipe-servingSize" min="0" max="99" class="form-control">
    </div>
    <div class="col-auto">
        <button id="post-recipe-submit" class="btn mb-3 btn-secondary">Add</button>
    </div>
</form>
</div>

<br>

<div>
<h2>Edit Recipe</h2>
<p>To edit a recipe, please enter the information below and click 'Edit'!</p>

<form id="put-recipe-form-ajax" class="row g-3">
    <div class="col-auto">
        <label for="put-recipe-id" class="visually-hidden">Recipe</label>
        <select id="put-recipe-id" class="form-select">
            <option value="">Select a Recipe</option>
            {{#each data}}
            <option value="{{this.[Recipe ID]}}">{{this.[Recipe]}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-auto">
        <label for="put-recipe-name" class="visually-hidden">Name</label>
        <input type="text" id="put-recipe-name" class="form-control" placeholder="Name">
    </div>
    <div class="col-auto">
        <label for="put-recipe-description" class="visually-hidden">*Description</label>
        <textarea id="put-recipe-description" class="form-control" placeholder="*Description"></textarea>
    </div>
    <div class="col-auto">
        <label for="put-recipe-user" class="visually-hidden">Author</label>
        <select id="put-recipe-user" class="form-select">
            <option value="">Select an Author</option>
            {{#each users}}
            <option value="{{this.userID}}">{{this.[Author]}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-auto">
        <label for="put-recipe-datePosted" class="form-label">Date Posted</label>
        <input type="date" id="put-recipe-datePosted">
    </div>
    <div class="col-auto">
        <label for="put-recipe-instructionList" class="visually-hidden">Instruction List</label>
        <textarea id="put-recipe-instructionList" class="form-control" placeholder="Instruction List"></textarea>
    </div>
    <div class="col-auto">
        <label for="put-recipe-cookTime" class="form-label">Cook Time</label>
        <input type="time" id="put-recipe-cookTime" class="form-control">
    </div>
    <div class="col-auto">
        <label for="put-recipe-servingSize" class="form-label">Serving Size</label>
        <input type="number" id="put-recipe-servingSize" min="0" max="99" class="form-control">
    </div>
    <div class="col-auto">
        <button id="put-recipe-submit" class="btn mb-3 btn-secondary">Edit</button>
    </div>
</form>
</div>

<br>

<div>
<h2>Delete Recipe</h2>
<p>To delete a recipe, please enter the information below and click 'Delete'!</p>

<form id="delete-recipe" class="row g-3">
    <div class="col-auto">
        <label for="delete-recipe-id" class="visually-hidden">Recipe</label>
        <select id="delete-recipe-id" class="form-select">
            <option value="">Select a Recipe</option>
            {{#each data}}
            <option value="{{this.[Recipe ID]}}">{{this.[Recipe]}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-auto">
        <button id="delete-recipe-submit" class="btn mb-3 btn-secondary">Delete</button>
    </div>
</form>
</div>

<br>

{{!-- <div>
<h2>Search Recipes</h2>
<p>To search for a recipe, please enter the information below and click 'Search'!</p>

<form id="search-recipe-form-ajax">
    <label for="search-recipe-name">Name: </label>
    <input type="text" id="search-recipe-name">

    <button id="search-recipe-submit">Search</button>
    <button id="search-recipe-reset">Reset</button></a>
</form>
</div> --}}

<br>
<br>
<br>

<script src="/js/recipe.js" type="text/javascript"></script>

</div>