{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}          
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

       
        {{#each data}}
        <tr>
            <td>{{this.recipeIngredientID}}</td>
            <td>{{this.RecipeName}}</td>
            <td>{{this.IngredientName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add recipe ingredients</h2>
<p>To add new ingredients, please enter its information below and click 'Submit'!</p>
<form id="add-recipeIngredient">


    <label for="NewRecipeIngredientList">Recipe:</label>
    <input type="text" name="NewRecipeIngredientList" id="NewRecipeIngredientList">

    <label for="newIngredientName">Ingredient:</label>
    <input type="text" name="newIngredientName" id="newIngredientName">

    <input type="submit">
</form>

<h2>Edit recipe ingredients</h2>
<p>To edit ingredients, please enter its information below and click 'Submit'!</p>
<form id="edit-recipeIngredient">

    <select name="recipeIngredient-ID-edit" id="recipeIngredient-IDs-edit">
        <option value="">Select a Recipe Ingredient</option>
        {{#each data}}
        <option value="{{this.recipeIngredientID}}">{{this.recipeIngredientID}}</option>
        {{/each}}
    </select>

    <label for="NewRecipeIngredientList">Recipe:</label>
    <input type="text" name="NewRecipeIngredientList" id="NewRecipeIngredientList">

    <label for="newIngredientName">Ingredient:</label>
    <input type="text" name="newIngredientName" id="newIngredientName">

    <input type="submit">
</form>

<h2>Delete recipe ingredients</h2>
<p>To Delete a ingredient, please select its information below and click 'Delete'!</p>
<form id="delete-review">

    <select name="recipeIngredient-ID-deleter" id="recipeIngredient-IDs-delete">
        <option value="">Select a Recipe Ingredient</option>
        {{#each data}}
        <option value="{{this.recipeIngredientID}}">{{this.recipeIngredientID}}</option>
        {{/each}}
    </select>

    <td><button class="delete-btn" data-id="delete-review-button">Delete</button></td>  

</form>