{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Data: recipeIngredientID, recipeID, ingredientID --}}

<div class="container-fluid">

<br>

<h1>RecipeIngredients Page</h1>

<br>

<div>
<table id="recipeIngredients-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    
    <tbody>
        {{#each data}}
        <tr data-value={{this.[RecipeIngredient ID]}}>
            <td>{{this.[RecipeIngredient ID]}}</td>
            <td>{{this.[Recipe Name]}}</td>
            <td>{{this.[Ingredient Name]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<br>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}

<div>
<h2>Add RecipeIngredient</h2>
<p>To add new recipeIngredient, please enter the information below and click 'Add'!</p>

<form id="post-recipeIngredient-form-ajax">
    <label for="post-select-recipe">Recipe: </label>
    <select name="post-select-recipe" id="post-recipeIngredient-recipe">
        <option value="">Select a Recipe</option>
        {{#each recipes}}
        <option value="{{this.recipeID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="post-select-ingredient">Ingredient: </label>
    <select name="post-select-ingredient" id="post-recipeIngredient-ingredient">
        <option value="">Select an Ingredient</option>
        {{#each ingredients}}
        <option value="{{this.ingredientID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <button id="post-recipeIngredient-submit">Add</button>
</form>
</div>

<br>

<div>
<h2>Edit RecipeIngredient</h2>
<p>To edit recipeIngredients, please enter the information below and click 'Edit'!</p>

<form id="put-recipeIngredient-form-ajax">
    <label for="put-select-id">RecipeIngredient: </label>
    <select name="put-select-id" id="put-recipeIngredient-id">
        <option value="">Select a RecipeIngredient</option>
        {{#each data}}
        <option value="{{this.[RecipeIngredient ID]}}">{{this.[RecipeIngredient ID]}}</option>
        {{/each}}
    </select>

    <label for="put-select-recipe">Recipe: </label>
    <select name="put-select-recipe" id="put-recipeIngredient-recipe">
        <option value="">Select a Recipe</option>
        {{#each recipes}}
        <option value="{{this.recipeID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="put-select-ingredient">Ingredient: </label>
    <select name="put-select-ingredient" id="put-recipeIngredient-ingredient">
        <option value="">Select an Ingredient</option>
        {{#each ingredients}}
        <option value="{{this.ingredientID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <button id="put-recipeIngredient-submit">Edit</button>
</form>
</div>

<br>

<div>
<h2>Delete RecipeIngredient</h2>
<p>To delete a recipeIngredient, please enter the information below and click 'Delete'!</p>

<form id="delete-recipeIngredient-form-ajax">
    <label for="delete-select-id">RecipeIngredient: </label>
    <select name="delete-select-id" id="delete-recipeIngredient-id">
        <option value="">Select a RecipeIngredient</option>
        {{#each data}}
        <option value="{{this.[RecipeIngredient ID]}}">{{this.[RecipeIngredient ID]}}</option>
        {{/each}}
    </select>

 <button id="delete-recipeIngredient-submit">Delete</button>
</form>
</div>

<br>
<br>
<br>

<script src="/js/recipeIngredient.js" type="text/javascript"></script>

</div>