{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}          
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.reviewID}}</td>
            <td>{{this.RecipeName}}</td>
            <td>{{this.UserName}}</td>
            <td>{{this.datePosted}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.comment}}</td>          
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Review</h2>
<p>To add a new Reviews, please enter its information below and click 'Submit'!</p>
<form id="add-review">


    <select name="input-Recipe" id="input-Recipes">
        <option value="">Select a Recipe</option>
        {{#each Recipes}}
        <option value="{{this.recipeID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <select name="input-User" id="input-Users">
        <option value="">Select a User</option>
        {{#each Users}}
        <option value="{{this.userID}}">{{this.UserName}}</option>
        {{/each}}
    </select>

    <label for="datePosted">Date Posted:</label>
    <input type="date" name="datePosted" id="datePosted">

    <label for="rating">Rating:</label>
    <input type="number" name="rating" id="rating">

    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment"></textarea>

    <input type="submit">
</form>

<h2>Edit Review</h2>
<p>To Edit a Review, please enter its information below and click 'Edit'!</p>
<form id="edit-review">

    <select name="recipe-ID" id="recipe-IDs">
        <option value="">Select a Review</option>
        {{#each data}}
        <option value="{{this.reviewID}}">{{this.reviewID}}</option>
        {{/each}}
    </select>

    <select name="edit-User" id="edit-Users">
        <option value="">Select a User</option>
        {{#each Users}}
        <option value="{{this.userID}}">{{this.UserName}}</option>
        {{/each}}
    </select>

    <label for="datePosted">Date Posted:</label>
    <input type="date" name="datePosted" id="datePosted">

    <label for="rating">Rating:</label>
    <input type="number" name="rating" id="rating">

    <label for="comment">Comment:</label>
    <textarea name="comment" id="comment"></textarea>

    <input type="submit">
</form>
<h2>Delete Review</h2>
<p>To Delete a Review, please select its information below and click 'Delete'!</p>
<form id="delete-review">

    <select name="recipe-ID-deleter" id="recipe-IDs-delete">
        <option value="">Select a Review</option>
        {{#each data}}
        <option value="{{this.reviewID}}">{{this.reviewID}}</option>
        {{/each}}
    </select>

    <td><button class="delete-btn" data-id="delete-review-button">Delete</button></td>  

</form>