{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}          
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.userID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.joinDate}}</td>           
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}
{{!-- Form to add a record to the table  --}}
<h2>Add User</h2>
<p>To add a new User, please enter their information below and click 'Submit'!</p>
<form id="add-user">

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="joinDate">Join Date:</label>
    <input type="date" name="joinDate" id="joinDate">

    <input type="submit">
</form>

<h2>Edit User</h2>
<p>To edit a user, please enter their information below and click 'Submit'!</p>
<form id="edit-user">

    <select name="recipe-ID" id="recipe-IDs">
        <option value="">Select a User</option>
        {{#each data}}
        <option value="{{this.userID}}">{{this.userID}}</option>
        {{/each}}
    </select>

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="joinDate">Join Date:</label>
    <input type="date" name="joinDate" id="joinDate">

    <input type="submit">
</form>

</form>
<h2>Delete User</h2>
<p>To Delete a User, please select their ID below and click 'Delete'!</p>
<form id="delete-review">

    <select name="recipe-ID-deleter" id="recipe-IDs-delete">
        <option value="">UserID</option>
        {{#each data}}
        <option value="{{this.userID}}">{{this.userID}}</option>
        {{/each}}
    </select>

    <td><button class="delete-btn" data-id="delete-review-button">Delete</button></td>  

</form>