{{!-- 1 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Step 4 - Dynamically Displaying Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- Data: userID, firstName, lastName, email, joinDate --}}

<div class="container-fluid">

<h1>Users Page</h1>

<div>
<table id="users-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}          
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.[User ID]}}>
            <td>{{this.[User ID]}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>
            <td>{{this.[Email]}}</td>
            <td>{{this.[Join Date]}}</td>           
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

{{!-- 2 # Citation for the following html:
2 # Date: 2/15/24
3 # Adapted from Node.js - Node.js - Step 5 - Adding New Data
4 # used the base template but changed to fit my database
5 # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}

<div>
<h2>Add User</h2>
<p>To add a new user, please enter the information below and click 'Add'!</p>

<form id="post-user-form-ajax" class="row g-3">
    <div class="col-auto">
    	<label for="post-user-firstName" class="visually-hidden">First Name</label>
    	<input type="text" id="post-user-firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="col-auto">
    	<label for="post-user-lastName" class="visually-hidden">Last Name</label>
    	<input type="text" id="post-user-lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="col-auto">
    	<label for="post-user-email" class="visually-hidden">Email</label>
    	<input type="email" id="post-user-email" class="form-control" placeholder="Email">
    </div>
    <div class="col-auto">
    	<label for="post-user-joinDate" class="form-label">Join Date</label>
    	<input type="date" id="post-user-joinDate">
    </div>
    <div class="col-auto">
        <button id="post-user-submit" class="btn mb-3 btn-secondary">Add</button>
    </div>
</form>
</div>

<div>
<h2>Edit User</h2>
<p>To edit a user, please enter the information below and click 'Edit'!</p>

<form id="put-user-form-ajax" class="row g-3">
    <div class="col-auto">
    	<label for="put-user-id" class="visually-hidden">User</label>
    	<select id="put-user-id" class="form-select">
        	<option value="">Select a User</option>
        	{{#each data}}
        	<option value="{{this.[User ID]}}">{{this.[User ID]}}</option>
        	{{/each}}
    	</select>
    </div>
    <div class="col-auto">
    	<label for="put-user-firstName" class="visually-hidden">First Name</label>
    	<input type="text" id="put-user-firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="col-auto">
    	<label for="put-user-lastName" class="visually-hidden">Last Name</label>
    	<input type="text" id="put-user-lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="col-auto">
    	<label for="put-user-email" class="visually-hidden">Email</label>
    	<input type="email" id="put-user-email" class="form-control" placeholder="Email">
    </div>
    <div class="col-auto">
    	<label for="put-user-joinDate" class="form-label">Join Date</label>
    	<input type="date" id="put-user-joinDate">
    </div>
    <div class="col-auto">
    	<buton id="put-user-submit" class="btn mb-3 btn-secondary">Edit</button>
    </div>
</form>
</div>

<div>
<h2>Delete User</h2>
<p>To delete a user, please enter the information below and click 'Delete'!</p>

<form id="delete-user-form-ajax" class="row g-3">
    <div class="col-auto">
    	<label for="delete-user-id" class="visually-hidden">User</label>
    	<select id="delete-user-id" class="form-select">
        	<option value="">Select a User</option>
        	{{#each data}}
        	<option value="{{this.[User ID]}}">{{this.[User ID]}}</option>
        	{{/each}}
    	</select>
    </div>
    <div class="col-auto">
    	<button id="delete-user-submit" class="btn mb-3 btn-secondary">Delete</button>
    </div>
</form>
</div>

{{!-- <div>
<h2>Search Users</h2>
<p>To search for a user, please enter the information below and click 'Search'!</p>

<form id="search-user-form-ajax">
    <div class="col-auto">
    <label for="search-user-lastName" class="visually-hidden">Last Name</label>
    <input type="text" id="search-user-lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="col-auto">
    	<button id="search-user-submit" class="btn mb-3 btn-warning">Search</button>
    	<button id="search-user-reset" class="btn mb-3 btn-warning">Reset</button>
    </div>
</form>
</div> --}}

<br>
<br>
<br>

<script src="/js/user.js" type="text/javascript"></script>

</div>
